.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background: #fff;
  overflow: hidden;
}

body {
  background-image: url(dos.jpg);
  background-size: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.image {
  width: 175px;
  height: 250px;
  background: url(trigo.jpg);
  background-size: cover;
  transition: 0.8s ease;
  float: left;
}

.two {
  background-position: -175px 0;
}

.container:hover .one {
  transform: translateY(-260px);
}

.container:hover .two {
  transform: translateY(260px);
}
